@{
    ViewData["Title"] = "Home Page";
}

<h3>Demo App v1.0</h3>
<p> This will be a fun website soon!</p>
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the DemoApp</h1>
    </div>
</div>
